[submodule "external/slang"]
	path = external/slang
	url = https://github.com/MikePopoloski/slang.git
[submodule "external/reflect-cpp"]
	path = external/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
