name: Pre-commit checks

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pre-commit-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          # Install a specific version of uv.
          version: "0.8.17"
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run pre-commit hooks
        run: uv run pre-commit run --all-files
